#toolbar {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toolbar > * {
    display: flex;
}

#object-tools {
    width: 220px;
    margin-left: 10px;
}

#select-tools {
    margin-right: 10px;
}

.toolbar-button {
    width: 28px;
    height: 20px;
    margin: 0 1px;
    background-color: #383838;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    border: none !important;
    border-radius: 0;
}

    .toolbar-button:hover {
        background-color: #424242;
    }

    .toolbar-button:nth-child(1) {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .toolbar-button:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .toolbar-button[disabled] {
        background-color: #292929 !important;
    }

        .toolbar-button[disabled] > img:nth-child(1) {
            display: none;
        }

    .toolbar-button:enabled > img:nth-child(2) {
        display: none;
    }
    
#hand-tool {
    background-image: url("hand.svg");
    background-size: 14px;
}

#move-tool {
    background-image: url("move.svg");
}

#rotate-tool {
    background-image: url("rotate.svg");
}

#scale-tool {
    background-image: url("scale.svg");
}

#play-button {
    background-image: url("play.svg");
}

#pause-button {
    background-image: url("pause.svg");
}

#step-button {
    background-image: url("step.svg");
    background-size: 18px;
}
    
.toolbar-select {
    background-color: #383838;
    width: 100px;
    height: 20px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}
    
.toolbar-selected {
    background-color: #6a6a6a;
}

    .toolbar-selected:hover {
        background-color: #777777;
    }

.toolbar-active {
    background-color: #2c5d87;
}
    
     .toolbar-active:hover {
        background-color: #32699a;
    }